body {
    background-image: url("images/4k-wallpaper-android-wallpaper-astro-astrology-1146134.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#main {
    background-color: purple;
    color: white;
    text-align: center;
    width: 500px;
    padding-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
}

#button {
    color: navy;
    align-items: center;
}